.card{
	display            : inline-block;
	vertical-align     : top;
	z-index            : 500;

	height             : 90px;
	width              : 90px;
	padding            : 8px;

	text-align         : center;

	/*background-color : #ECF0F1;*/
	/*margin           : 5px;*/
	transition         : 0.25s;
	-webkit-transition : 0.25s;
}

	.card__imageContainer{
		position : relative;
		display  : block;
	}


	.card__gif, .card__staticImage, .card__button{
		position : absolute;
		top      : 0px;
		left     : 0px;
	}

	.card__button{
		display   : none;
		z-index   : 600;
		font-size : 0.8em;
	}
		.card__downloadButton{
			top     : 2.2em;
			z-index : 550;
		}

	.card__gif{
		display            : none;
		z-index            : 400;

		max-height         : 90px;
		min-width          : 90px;

		transition         : 0.25s;
		-webkit-transition : 0.25s;
	}



	/* On Hover */
	.card__imageContainer:hover .card__gif, .card.hovered .card__gif{
		display : block;
		opacity : 1;
	}

	.card__imageContainer:hover .card__button, .card.hovered .card__button{
		display : block;
	}

	.card__gif:hover, .card.hovered .card__gif{
		max-height : 300px;
		max-width  : 300px;
	}












/*

.card__expandHover:hover + .card__imageContainer > img{
	z-index    : 400;
	max-height : 300px;
	max-width  : 300px;
}
.card:hover .card__expandHover, .card.hovered .card__expandHover{
	opacity : 1;
}
.card.hovered .card__copyButton, .card.hovered .card__linkButton{
	display : inline-block;
}
.card:hover .card__copyButton, .card:hover .card__linkButton{
	display : inline-block;
}
.card:hover, .card.hovered{
	background-color : #ECF0F1;
}
.card__copyButton{
	margin-right : 5px;
}
.card__copyButton, .card__linkButton{
	display            : none;
	z-index            : 2;

	transition         : 0.25s;
	-webkit-transition : 0.25s;
}
.card__imageContainer > img{
	position                    : relative;
	display                     : block;
	z-index                     : 20;

	max-height                  : 100px;
	max-width                   : 100px;

	transition                  : 0.25s;
	transition-property         : max-height,max-width;
	-webkit-transition          : 0.25s;
	-webkit-transition-property : max-height,max-width;
}
.card__expandHover{
	position           : absolute;
	z-index            : 401;

	padding            : 7px;

	cursor             : pointer;
	opacity            : 0;
	font-size          : 0.75em;
	color              : white;

	transition         : 0.25s;
	-webkit-transition : 0.25s;
}

*/