.category{
	display            : inline-block;
	vertical-align     : top;

	max-width          : 137px;
	margin             : 10px;
	padding            : 6px;

	background-color   : #ECF0F1;
	text-decoration    : none;
	border             : 5px solid #ECF0F1;

	transition         : 0.25s;
	-webkit-transition : 0.25s;
}
	.category__name{
		margin-top    : 5px;
		margin-right  : 10px;
		margin-bottom : 8px;

		font-size     : 1.1em;
	}
	.category__stats{
		font-size   : 0.7em;
		font-weight : bold;
	}


	.category .card{
		height : 120px;
		width  : 120px;
	}

	.category:hover{
		border-color : #B6B6B6;
	}
