.navbar{
	height           : 53px;
	min-height       : 53px;
	margin-bottom    : 25px;

	background-color : #ecf0f1;
	font-size        : 16px;
	color            : #2C3E50;
}
	.navbar__header{
		float                       : left;

		padding-top                 : 14px;
		padding-bottom              : 14px;
		padding-right               : 21px;

		cursor                      : pointer;
		font-size                   : 24px;
		font-weight                 : 700;
		line-height                 : 1.042;
		text-decoration             : none;

		transition                  : 0.25s;
		transition-property         : color;
		-webkit-transition          : 0.25s;
		-webkit-transition-property : color;
	}
		.navbar__header:hover{
			color : #16A085;
		}


	.navbar__item{
		float                       : left;

		padding                     : 19px 21px;

		cursor                      : pointer;
		font-weight                 : 700;
		line-height                 : 1.042;
		text-decoration             : none;

		transition                  : 0.25s;
		transition-property         : color;
		-webkit-transition          : 0.25s;
		-webkit-transition-property : color;
	}
		.navbar__item:hover{
			color : #16A085;
		}

	.navbar__item.right{
		float : right;
	}