
<link rel="stylesheet" type="text/css" href="../style/home.css" />

<script type="text/javascript" src="../js/components/Searchbar.jsc"></script>
<script type="text/javascript" src="../js/components/LinkBtn.jsc"></script>


<script type="text/javascript" src="../js/CardView.js"></script>
<script type="text/javascript" src="../js/SearchResultsView.js"></script>
<script type="text/javascript" src="../js/CategoryView.js"></script>


<title>gifbin.all</title>

<div class='main content' style='min-height : 600px;'> </div>

<script>

	GifCollection.set(<%- gifs %>);

	searchBar = SearchbarComponent.create().prependTo($('.main'));
	searchResults = SearchResultsView.create(GifCollection);
	searchResults.searchBar = searchBar;

	searchResults.appendTo($('.main'));

</script>
