<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<!-- Local -->
	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

	<link href="../libs/hint.css" rel="stylesheet">
	<script type="text/javascript" src="../libs/archetype.js"></script>
	<script type="text/javascript" src="../libs/xo.js"></script>
	<script type="text/javascript" src="../libs/dom.js"></script>
	<script type="text/javascript" src="../libs/css.js"></script>
	<script type="text/javascript" src="../libs/util.js"></script>
	<script type="text/javascript" src="../libs/moment.js"></script>
	<script type="text/javascript" src="../libs/ZeroClipboard/ZeroClipboard.js"></script>

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="stylesheet" type="text/css" href="../style/base.css" />
	<link rel="stylesheet" type="text/css" href="../style/footer.css" />
	<link rel="stylesheet" type="text/css" href="../style/nav.css" />
	<link rel="stylesheet" type="text/css" href="../style/gifbin.css" />

	<link rel="stylesheet" type="text/css" href="../style/home.css" />


	<script type="text/javascript" src="../js/Searchbar.js"></script>


	<!-- XO -->
	<script type="text/javascript" src="../js/views/GifCard.js"></script>
	<script type="text/javascript" src="../js/views/LinkBtn.js"></script>
	<script type="text/javascript" src="../js/views/SearchResults.js"></script>

	<script type="text/javascript" src="../js/models/GifModel.js"></script>
	<script type="text/javascript" src="../js/models/GifCollection.js"></script>
</head>
<body>
	<title>gifbin.</title>

	<div class='navbar'></div>
	<div class='main content'>
		<div class='title'>
			<span class='titleText'></span>

			<div style='float:right;font-size:0.5em;cursor:pointer;color:#C0392B' class='categoryDeleteBtn hint--bottom' data-hint="Delete Category">
				<i class='icon-remove'></i> Delete
			</div>

		</div>


	</div>
	<div class='footer'></div>

	<script>

	var gifs = GifCollection.create(<%- gifs %>);
	var categoryName = '<%- categoryName %>';
	var categoryId = '<%- categoryId %>';

	$('.categoryDeleteBtn').click(function(){
		if(window.confirm("Are you sure you want to delete this category?")){
			$.ajax({
				url : '/api/category/' + categoryId,
				type : 'DELETE',
				success : function(){
					window.location.href = '/';
				},
			})
		}
	});
	if(categoryId === 'None') $('.categoryDeleteBtn').hide();



	//Setup Title
	$('.titleText').text(categoryName);
	document.title = "gifbin." + categoryName.toLowerCase();

	var searchBar = Searchbar.create().injectInto($('.main'));
	var searchResults = SearchResults.create(gifs);
	searchResults.searchBar = searchBar;
	searchResults.injectInto($('.main'));


	</script>
	<script type="text/javascript" src="../js/Navbar.js"></script>
	<script type="text/javascript" src="../js/Footer.js"></script>

</body>
</html>