<html>
<head>
	<!-- Local -->
	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>


	<link href="../libs/hint.css" rel="stylesheet">

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="stylesheet" type="text/css" href="../style/base.css" />

	<link rel="stylesheet" type="text/css" href="../style/footer.css" />
	<link rel="stylesheet" type="text/css" href="../style/nav.css" />
	<link rel="stylesheet" type="text/css" href="../style/gifbin.css" />

	<link rel="stylesheet" type="text/css" href="../style/home.css" />
</head>
<body>
	<title>gifbin.</title>
	<div class='navbar'>
		<div class='content'>
			<div class='navbar__header'>gifbin.</div>
			<div class='navbar__item'>Test</div>
			<div class='navbar__item'>Test</div>
			<div class='navbar__item'>Test</div>
			<div class='navbar__item right'>Test</div>
		</div>
	</div>

	<div class='main content'>



		<div class='category'>
			<div class='category__title'>Popular</div>
			<div class='category__cardContainer'>
				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/fIKOPw1.jpg'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/K0bUm.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/PDKLgSY.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/MxeLEF6.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/fIKOPw1.jpg'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/K0bUm.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/PDKLgSY.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/MxeLEF6.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>










			</div>
		</div>




		<div class='category'>
			<div class='category__title'>Popular</div>
			<div class='category__cardContainer'>
				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/fIKOPw1.jpg'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/K0bUm.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/PDKLgSY.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/MxeLEF6.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/fIKOPw1.jpg'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>


				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/K0bUm.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/PDKLgSY.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>

				<div class='card'>
					<div class='card__expandHover'><i class='icon-plus'></i></div>
					<div class='card__imageContainer'>
						<img src='http://i.imgur.com/MxeLEF6.gif'></img>
					</div>
					<div class='btn green card__copyButton hint--bottom' data-hint="Copy Link"><i class='icon-copy'></i></div>
					<div class='btn blue card__linkButton hint--bottom' data-hint="View Gif Page"><i class='icon-external-link'></i></div>
				</div>










			</div>
		</div>









	</div>
	<div class='footer'>
		<div class='content'>
			<div class='footer__about'>
				<h3>About</h3>
				<p>
					This page was generated using <a href='http://stolksdorf.github.io/Paintjob'>Paintjob</a>, a framework that converts Github repos into beautiful demo pages.
				</p>
				<p>
					Everything you see here was written by Scott Tolksdorf. Check out more cool stuff below.
				</p>
				<p class='footer__about__icons'>
					<a target='_blank' href='http://stolksdorf.com'><i class='icon-home'></i></a>
					<a target='_blank' href="mailto:scott.tolksdorf@gmail.com"><i class='icon-envelope'></i></a>
					<a target='_blank' href='https://github.com/stolksdorf' ><i class='icon-github'></i></a>
					<a target='_blank' href='http://stolksdorf.throwww.com/'><i class='icon-pencil'></i></a>
					<a target='_blank' href='https://twitter.com/stolksdorf'><i class='icon-twitter'></i></a>
					<a target='_blank' href='https://www.facebook.com/scott.tolksdorf'><i class='icon-facebook'></i></a>
					<a target='_blank' href='http://ca.linkedin.com/pub/scott-tolksdorf/19/132/53a'><i class='icon-linkedin'></i></a>
				</p>
			</div>

			<div class='footer__license'>
				<h2>License</h2>
				<p>
					All the work I release is under <a target='_blank' href='http://www.wtfpl.net'>WTFPL</a>.
				</p>
				<p>
					I believe that the more open we are with information, the more innovation we'll see. In short, do whatever you want with this, just don't say that you made it.
				</p>
				<p>
					Full license text <a target='_blank' href='http://www.wtfpl.net/txt/copying/'>here</a>.
				</p>
			</div>
		</div>
	</div>
</body>
</html>