<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<!-- Local -->
	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

	<link href="../libs/hint.css" rel="stylesheet">
	<script type="text/javascript" src="../libs/archetype.js"></script>
	<script type="text/javascript" src="../libs/xo.js"></script>
	<script type="text/javascript" src="../libs/dom.js"></script>
	<script type="text/javascript" src="../libs/css.js"></script>
	<script type="text/javascript" src="../libs/util.js"></script>
	<script type="text/javascript" src="../libs/moment.js"></script>
	<script type="text/javascript" src="../libs/ZeroClipboard/ZeroClipboard.js"></script>

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="stylesheet" type="text/css" href="../style/base.css" />
	<link rel="stylesheet" type="text/css" href="../style/footer.css" />
	<link rel="stylesheet" type="text/css" href="../style/nav.css" />
	<link rel="stylesheet" type="text/css" href="../style/gifbin.css" />

	<link rel="stylesheet" type="text/css" href="../style/home.css" />


	<script type="text/javascript" src="../js/Searchbar.js"></script>


	<!-- XO -->
	<script type="text/javascript" src="../js/views/GifCard.js"></script>
	<script type="text/javascript" src="../js/views/LinkBtn.js"></script>
	<script type="text/javascript" src="../js/views/SearchResults.js"></script>
	<script type="text/javascript" src="../js/views/CategoryView.js"></script>

	<script type="text/javascript" src="../js/models/GifModel.js"></script>
	<script type="text/javascript" src="../js/models/GifCollection.js"></script>
	<script type="text/javascript" src="../js/models/Categories.js"></script>
</head>
<body>
	<title>gifbin.</title>

	<div class='navbar'></div>
	<div class='main content' style='min-height : 600px;'>
		<div class='categoryContainer'>
			<div class='title'>
				Categories
			</div>
		</div>
		<div class='searchContainer'></div>
	</div>
	<div class='footer'></div>

	<script>

	GifCategories.set(<%- categories %>);
	var gifs = GifCollection.create(<%- gifs %>);

	//Create Category view
	util.map(gifs.getCategoryBest(GifCategories), function(bestObj){
		CategoryView.create(bestObj).injectInto($('.categoryContainer'));
	});

	var searchBar = Searchbar.create().injectInto($('.main'), true);
	var searchResults = SearchResults.create(gifs);
	searchResults.searchBar = searchBar;

	searchResults.injectInto($('.searchContainer'));
	searchResults.dom.view.hide();

	searchBar.on('searching', function(){
		 if($('.categoryContainer').is(':visible')) $('.categoryContainer').stop().fadeTo(300, 0.4);
	});
	searchBar.on('searched', function(terms){
		if(terms.length === 1 && terms[0] === ""){
			$('.categoryContainer').stop().fadeTo(100, 1);
			searchResults.dom.view.hide();
		} else {
			$('.categoryContainer').hide();
			searchResults.dom.view.stop().fadeTo(100, 1);
		}
		if($('.categoryContainer').is(':visible')) $('.categoryContainer').stop().fadeTo(100, 1);
	});




	</script>
	<script type="text/javascript" src="../js/Navbar.js"></script>
	<script type="text/javascript" src="../js/Footer.js"></script>

</body>
</html>