
<link rel="stylesheet" type="text/css" href="../style/home.css" />

<script type="text/javascript" src="../js/components/Searchbar.jsc"></script>
<script type="text/javascript" src="../js/components/LinkBtn.jsc"></script>
<script type="text/javascript" src="../js/components/DownloadBtn.jsc"></script>


<script type="text/javascript" src="../js/CardView.js"></script>
<script type="text/javascript" src="../js/SearchResultsView.js"></script>
<script type="text/javascript" src="../js/CategoryCardView.js"></script>

<title>gifbin.</title>

<div class='main content'>
	<div class='categoryContainer'>
		<div class='title'>
			Categories
		</div>
	</div>
	<div class='searchContainer'></div>
</div>


<script>
	CategoryCollection.set(<%- categories %>);
	GifCollection.set(<%- gifs %>);

	//Create Category view
	_.map(GifCollection.getCategoryBest(CategoryCollection), function(bestObj){
		CategoryView.create(bestObj).appendTo($('.categoryContainer'));
	});

	searchBar = SearchbarComponent.create().prependTo($('.main'));
	searchResults = SearchResultsView.create(GifCollection);
	searchResults.searchBar = searchBar;

	searchResults.appendTo($('.searchContainer'));
	searchResults.dom.view.hide();

	searchBar.on('searching', function(){
		if($('.categoryContainer').is(':visible')) $('.categoryContainer').stop().fadeTo(300, 0.4);
	});
	searchBar.on('searched', function(terms){
		if(terms.length === 1 && terms[0] === ""){
			$('.categoryContainer').stop().fadeTo(100, 1);
			searchResults.dom.view.hide();
		} else {
			$('.categoryContainer').hide();
			searchResults.dom.view.stop().fadeTo(100, 1);
		}
		if($('.categoryContainer').is(':visible')) $('.categoryContainer').stop().fadeTo(100, 1);
	});
</script>
