<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" ></script>
		<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
		<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

		<!-- Libs -->
		<link href="../libs/hint.css" rel="stylesheet">
		<script type="text/javascript" src="../libs/archetype.js"></script>
		<script type="text/javascript" src="../libs/xo.js"></script>
		<script type="text/javascript" src="../libs/dom.js"></script>
		<script type="text/javascript" src="../libs/css.js"></script>
		<script type="text/javascript" src="../libs/util.js"></script>
		<script type="text/javascript" src="../libs/moment.js"></script>
		<script type="text/javascript" src="../libs/ZeroClipboard/ZeroClipboard.js"></script>

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../style/reset.css" />
		<link rel="stylesheet" type="text/css" href="../style/base.css" />
		<link rel="stylesheet" type="text/css" href="../style/gifbin.css" />
		<link rel="stylesheet" type="text/css" href="../style/gifcard.css" />

		<!-- Models -->
		<script type="text/javascript" src="../js/GifModel.js"></script>
		<script type="text/javascript" src="../js/GifCollection.js"></script>
		<script type="text/javascript" src="../js/CategoryCollection.js"></script>

	</head>

	<body>
		<header></header>

		<%- body %>

		<footer></footer>
	</body>

	<!-- Components -->
	<script type="text/javascript" src="../js/components/Navbar.jsc"></script>
	<script type="text/javascript" src="../js/components/Footer.jsc"></script>
</html>