<style>
	.bad_page{
		display: none;
		margin-top: 80px;
		text-align: center;
		font-weight: 300;
	}
	.bad_page .oops{
		font-size: 3em;
		font-weight: 300;
		margin-bottom: 20px;
	}


</style>

<title>gifbin.oops</title>

<div class='main content'>


	<div class='bad_page'>
		<iframe width="560" height="315" src="//www.youtube.com/embed/y6rZfpSL1RQ" frameborder="0" allowfullscreen></iframe>
		<div class='oops'>oops.</div>
		<div>gifbin done messed up!</div>
	</div>


	<div class='bad_page'>
		<img src="http://i.imgur.com/MxuVp2y.png" style='max-width: 200px'></img>
		<div class='oops'>oops.</div>
		<div>gifbin done goof'd</div>
	</div>

</div>

<script>
	var badPages = $('.bad_page');
	$(badPages[Math.floor(Math.random()*badPages.length)]).show();

</script>
