
<link rel="stylesheet" type="text/css" href="../style/home.css" />

<script type="text/javascript" src="../js/components/Searchbar.jsc"></script>
<script type="text/javascript" src="../js/components/LinkBtn.jsc"></script>
<script type="text/javascript" src="../js/components/DownloadBtn.jsc"></script>


<script type="text/javascript" src="../js/CardView.js"></script>
<script type="text/javascript" src="../js/SearchResultsView.js"></script>
<script type="text/javascript" src="../js/CategoryCardView.js"></script>

<title>gifbin.</title>

<div class='main content'>
	<div class='title'>
		<span class='titleText'></span>

		<div style='float:right;font-size:0.5em;cursor:pointer;color:#C0392B'
			class='categoryDeleteBtn hint--bottom'
			data-hint="Delete Category">
			<i class='icon-remove'></i> Delete Category
		</div>

	</div>

</div>

<script>

	GifCollection.set(<%- gifs %>);
	var categoryName = '<%- categoryName %>';
	var categoryId = '<%- categoryId %>';

	$('.categoryDeleteBtn').click(function(){
		if(window.confirm("Are you sure you want to delete this category?")){
			$.ajax({
				url : '/api/category/' + categoryId,
				type : 'DELETE',
				success : function(){
					window.location.href = '/';
				},
			})
		}
	});
	if(categoryId === 'None') $('.categoryDeleteBtn').hide();



	//Setup Title
	$('.titleText').text(categoryName);
	document.title = "gifbin." + categoryName.toLowerCase().replace(' ', '_');

	searchBar = SearchbarComponent.create().prependTo($('.main'));
	searchResults = SearchResultsView.create(GifCollection);
	searchResults.searchBar = searchBar;
	searchResults.appendTo($('.main'));


</script>
