
@navHeight  : 55px;
@navSpacing : 25px;
header {
	height           : @navHeight;
	min-height       : @navHeight;
	margin-bottom    : @navSpacing;
	background-color : @silverLight;
	font-size        : 0.8em;
	color            : @steel;
	border-bottom    : 1px solid darken(@silverLight, 10%);
	.navItem{
		.animate(color);
		display         : inline-block;
		margin          : 0 20px;
		cursor          : pointer;
		font-size       : 1.2em;
		font-weight     : 700;
		line-height     : @navHeight;
		text-decoration : none;
		&:hover{
			color : @teal;
		}
	}
	.logo{
		margin-right : 40px;
		margin-left  : 0px;
		font-size    : 1.6em;
	}
	.userInfo{
		float  : right;
		margin : 0;
		.logout, .login{
			margin-right : 0px;
		}
	}
}