.edit{
	margin-bottom : 100px;
}

.imageContainer{
	display             : inline-block;
	vertical-align      : middle;

	height              : 400px;
	width               : 400px;
	margin              : 10px;

	background-position : center;
	background-repeat   : no-repeat;
	background-size     : contain;
	border              : 1px solid #bdc3c7;
}



.edit__form{
	display        : inline-block;
	vertical-align : middle;
	margin-left    : 20px;
}
	.form__item{
		margin-bottom : 20px;
		font-size     : 1em;
		font-weight   : 600;
	}
		.form__item__title{
			display        : inline-block;
			vertical-align : middle;
			width          : 125px;
		}

		.form__item__field{
			display        : inline-block;
			vertical-align : middle;
		}

		.form__item__field input{
			height : 42px;
			width  : 275px;
		}

		.form__item__field textarea{
			height     : 65px;
			width      : 275px;
			/*ont-size : 13px;*/
		}

		.form__item__field select{
			width : 275px;
		}
