
.gifContainer{
	margin-bottom : 80px;
	.emptyMessage{
		vertical-align : middle;
		font-size      : 2em;
		color          : @silver;
		i{
			vertical-align : sub;
			margin-right   : 0.2em;
			font-size      : 1.8em;
		}
	}
}